@import "../../styles/base";

.appbar {
    padding-top: 10px;
    padding-right: 2rem;
    padding-left: 2rem;
    &__content {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    &__content-left {
        img {
            min-width: 150px;
            height: auto;
            width: auto;
        }
    }
    &__helped-container {
        display: flex;
        align-items: center;
        gap: 10rem;
    }

    &__content-right {
        display: flex;
        align-items: center;
        svg {
            font-size: 5rem;
            color: $black;
        }
    }
    &__content-cart {
        display: flex;
        align-items: center;
        margin-right: 5rem;
    }
    &__content-cart-counter {
        min-width: 36px;
        min-height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        background-color: $blackLight;
        color: $white;
        border-radius: 50%;
        margin-left: 2.5rem;
    }

    .active {
        background-color: $primary;
    }
    @media (max-width: 768px) {
        &__content {
            flex-direction: column;
            align-items: stretch;

            &-left {
                display: flex;
                justify-content: center;
                margin-bottom: 0.5rem;
            }

            &-search {
                width: 50%;
                margin-bottom: 0.5rem;
            }

            &-right {
                justify-content: center;
            }
        }
    }

    @media (max-width: 600px) {
        &__helped-container {
            gap: 3rem;
            justify-content: center;
            margin-top: 2rem;
        }
    }
    @media (max-width: 480px) {
        &__content-search {
            display: none;
        }
    }
}
