@import "../../styles/base";

.country-list {
    max-width: $max-width;
    margin: 5rem auto 0 auto;

    &__cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
