@import "../../styles/base";

.country-page {
    box-shadow: 0px 6px 16px rgba(165, 155, 151, 0.19) !important;
    margin: 5rem auto 0 auto;
    max-width: $max-width;
    &__go-back {
        padding: 2rem0;
        display: flex;
        justify-content: flex-start;
        button {
            width: 200px !important;
        }
        span.MuiButton-label {
            display: flex;
            align-items: center;
        }
    }

    &__details {
        display: flex;
        // flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 5rem;
    }
    &__details-left {
        flex: 1;
        img {
            width: 450px;
            border: 1px solid $blackLight;
        }
    }
    &__details-right {
        flex: 1;
    }
    &__details-right-list {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        h2 {
            text-align: left;
        }
        .right {
            text-align: right;
            margin-left: 3rem;
            color: $blackLight;
        }
    }
    &__actions {
        display: flex;
        justify-content: flex-end;
        padding: 2rem 2rem 5rem 0rem;
        button {
            width: 200px;
        }
    }
    @media (max-width: 1024px) {
        &__details {
            flex-direction: column;
            align-items: center;
            padding: 3rem 2rem;
        }
        &__details-left {
            h2 {
                text-align: center;
                font-size: 4rem;
            }
        }
        &__details-right {
            margin-top: 2rem;
        }

        &__details-right-list {
            gap: 6rem;
        }

        &__actions {
            justify-content: center;
            padding: 3rem 1rem;
        }
    }

    @media (max-width: 576px) {
        &__go-back {
            justify-content: center;

            button {
                width: 100% !important;
            }
        }

        &__details-left img {
            width: 100%;
        }

        &__actions button {
            width: 100%;
        }

        &__details {
            padding: 2rem 1rem;
        }
    }
}
