@import "../../styles/base";

.country-card {
    box-shadow: $boxShadow;
    width: 330px;
    margin-bottom: 3rem;
    &__wrapper {
        padding: 5rem;
        text-align: center;
        img {
            max-width: 250px;
            height: 150px;
            border: 1px solid $black;
        }
    }

    &__name {
        margin-top: 5rem;
        color: $black;
        text-align: left;
    }

    &__region {
        margin-top: 2.5rem;
        margin-bottom: 6.5rem;
        color: $blackLight;
        text-align: left;
    }

    &__action {
        width: 100%;
        margin-bottom: 2.5rem;
    }
    @media (max-width: 768px) {
        width: 100%;
        &__wrapper {
            padding: 2rem;

            img {
                max-width: 100%;
                height: auto;
            }
        }

        &__name,
        &__region {
            text-align: center;
            margin-top: 1.5rem;
            margin-bottom: 1rem;
        }

        &__action {
            display: flex;
            justify-content: center;
        }
    }

    @media (max-width: 480px) {
        &__wrapper {
            padding: 1rem;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}
